<!DOCTYPE html>
<html>
<head>
<style>

.background_style
{
	width : 600px;
	height: 300px;
	padding : 50px;
	background-image : url('https://www.boehringer-ingelheim.com/sites/default/files/styles/big_slide__1280_/public/Innovation/innovation_banner.jpg?itok=f5cLjZK6');
}
.content
{
	width:600px;
	height:250px;
	border-radius:25px;
	padding:20px;
	background-color:white;
	opacity: 0.8;	
}

</style>
</head>
<body>
<div class="background_style">
<div class="content">
<h1 class="person">Hi!</h1>
<h1 class="add_group">You have been invited to a new event!</h1>
<h1 class="name_group">Group Name:{{group_name}}</h1>
<h1 class="event_det">Date:{{date}} Time : 4:30 </h1>
</div>
</div>
</body>
</html>
