<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" name="viewport"/>
<meta content="bootstrap material admin template" name="description"/>
<meta content="" name="author"/>
<title>Group Form| Idea Management System</title>
<link href="{{ url_for('static', filename='center/assets/images/apple-touch-icon.png') }}" rel="apple-touch-icon"/>
<link href="{{ url_for('static', filename='center/assets/images/favicon.ico') }}" rel="shortcut icon"/>
<style>
	.list_email_class 
	{
	height : 30px;
	display : inline-block;
	border-style:solid;
	border-color:grey;
	border-width:1px;
	border-radius : 10px;
	background-color : white;
	padding-right : 3px;
	padding-top : 2px;
	position : relative;
	}
	</style>
<!-- Stylesheets -->
<link href="{{ url_for('static', filename='global/css/bootstrap.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/css/bootstrap-extend.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='center/assets/css/site.min.css') }}" rel="stylesheet"/>
<!-- Plugins -->
<link href="{{ url_for('static', filename='global/vendor/animsition/animsition.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/asscrollable/asScrollable.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/switchery/switchery.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/intro-js/introjs.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/slidepanel/slidePanel.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/flag-icon-css/flag-icon.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/waves/waves.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/jquery-wizard/jquery-wizard.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/formvalidation/formValidation.css') }}" rel="stylesheet"/>
<!-- Fonts -->
<link href="{{ url_for('static', filename='global/fonts/material-design/material-design.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/fonts/brand-icons/brand-icons.min.css') }}" rel="stylesheet"/>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic" rel="stylesheet"/>
<!--[if lt IE 9]>
    <script src="../../../static/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
<!--[if lt IE 10]>
    <script src="../../../static/global/vendor/media-match/media.match.min.js"></script>
    <script src="../../../static/global/vendor/respond/respond.min.js"></script>
    <![endif]-->
<!-- Scripts -->
<script src="{{ url_for('static', filename='global/vendor/breakpoints/breakpoints.js') }}"></script>
<script>
      Breakpoints();
    </script>
</head>
<body class="animsition">
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">
<div class="navbar-header">
<button class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="hamburger-bar"></span>
</button>
<button class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse" type="button">
<i aria-hidden="true" class="icon md-more"></i>
</button>
<div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
<img class="navbar-brand-logo" src="{{ url_for('static', filename='center/assets/images/logo.png') }}" title="Remark"/>
<span class="navbar-brand-text hidden-xs-down"> Remark</span>
</div>
<button class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse" type="button">
<span class="sr-only">Toggle Search</span>
<i aria-hidden="true" class="icon md-search"></i>
</button>
</div>

<div class="navbar-container container-fluid">
<!-- Navbar Collapse -->
<div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
<!-- Navbar Toolbar -->
<ul class="nav navbar-toolbar">
<li class="nav-item hidden-float" id="toggleMenubar">
<a class="nav-link" data-toggle="menubar" href="#" role="button">
<i class="icon hamburger hamburger-arrow-left">
<span class="sr-only">Toggle menubar</span>
<span class="hamburger-bar"></span>
</i>
<span class="navbar-brand-text hidden-xs-down"><strong> My Account</strong></span>
</a>
</li>
<li class="nav-item hidden-sm-down" id="toggleFullscreen">
<a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
<span class="sr-only">Toggle fullscreen</span>
</a>
</li>
<!--<li class="nav-item hidden-float">
<a class="nav-link icon md-search" data-target="#site-navbar-search" data-toggle="collapse" href="#" role="button">
<span class="sr-only">Toggle Search</span>
</a>
</li>
-->
</ul>
<!-- End Navbar Toolbar -->
<!-- Navbar Toolbar Right -->
<ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
<li class="nav-item dropdown">
<!-- <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                aria-expanded="false" role="button">-->
<a class="nav-link" href="http://localhost:5001/show_group_create/none"><i aria-hidden="true" class="icon md-plus">  <span></span>Create Group</i></a>
<!--<span class="navbar-brand-text hidden-xs-down">
                  <strong>Create Group</strong></span>-->
</li>
<!--
<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link navbar-avatar" data-animation="scale-up" data-toggle="dropdown" href="#" role="button">
<span class="avatar avatar-online">
<img alt="..." src="{{ url_for('static', filename='global/portraits/5.jpg') }}"/>
<i></i>
</span>
</a>
<div class="dropdown-menu" role="menu">
<a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i aria-hidden="true" class="icon md-account"></i> Profile</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="Login.html" role="menuitem"><i aria-hidden="true" class="icon md-power"></i> Logout</a>
</div>

</li>
-->
<!--<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link" data-animation="scale-up" data-toggle="dropdown" href="javascript:void(0)" role="button" title="Notifications">
<i aria-hidden="true" class="icon md-notifications"></i>
<span class="badge badge-pill badge-danger up">5</span>
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
<div class="dropdown-menu-header">
<h5>NOTIFICATIONS</h5>
<span class="badge badge-round badge-danger">New 5</span>
</div>
<div class="list-group">
<div data-role="container">
<div data-role="content">
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-receipt bg-red-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">A new order has been placed</h6>
<time class="media-meta" datetime="2017-06-12T20:50:48+08:00">5 hours ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-account bg-green-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Completed the task</h6>
<time class="media-meta" datetime="2017-06-11T18:29:20+08:00">2 days ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-settings bg-red-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Settings updated</h6>
<time class="media-meta" datetime="2017-06-11T14:05:00+08:00">2 days ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-calendar bg-blue-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Event started</h6>
<time class="media-meta" datetime="2017-06-10T13:50:18+08:00">3 days ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-comment bg-orange-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Message received</h6>
<time class="media-meta" datetime="2017-06-10T12:34:48+08:00">3 days ago</time>
</div>
</div>
</a>
</div>
</div>
</div>
<div class="dropdown-menu-footer">
<a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
<i aria-hidden="true" class="icon md-settings"></i>
</a>
<a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    All notifications
                  </a>
</div>
</div>
</li> -->
<!--
<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link" data-animation="scale-up" data-toggle="dropdown" href="javascript:void(0)" role="button" title="Messages">
<i aria-hidden="true" class="icon md-email"></i>
<span class="badge badge-pill badge-info up">3</span>
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
<div class="dropdown-menu-header" role="presentation">
<h5>MESSAGES</h5>
<span class="badge badge-round badge-info">New 3</span>
</div>
<div class="list-group" role="presentation">
<div data-role="container">
<div data-role="content">
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-online">
<img alt="..." src="{{ url_for('static', filename='global/portraits/2.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">Mary Adams</h6>
<div class="media-meta">
<time datetime="2017-06-17T20:22:05+08:00">30 minutes ago</time>
</div>
<div class="media-detail">Anyways, i would like just do it</div>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-off">
<img alt="..." src="{{ url_for('static', filename='global/portraits/3.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">Caleb Richards</h6>
<div class="media-meta">
<time datetime="2017-06-17T12:30:30+08:00">12 hours ago</time>
</div>
<div class="media-detail">I checheck the document. But there seems</div>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-busy">
<img alt="..." src="{{ url_for('static', filename='global/portraits/4.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">June Lane</h6>
<div class="media-meta">
<time datetime="2017-06-16T18:38:40+08:00">2 days ago</time>
</div>
<div class="media-detail">Lorem ipsum Id consectetur et minim</div>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-away">
<img alt="..." src="{{ url_for('static', filename='global/portraits/5.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">Edward Fletcher</h6>
<div class="media-meta">
<time datetime="2017-06-15T20:34:48+08:00">3 days ago</time>
</div>
<div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
</div>
</div>
</a>
</div>
</div>
</div>
<div class="dropdown-menu-footer" role="presentation">
<a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
<i aria-hidden="true" class="icon md-settings"></i>
</a>
<a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    See all messages
                  </a>
</div>
</div>
</li>
<li class="nav-item" id="toggleChat">
<a class="nav-link" data-toggle="site-sidebar" data-url="../site-sidebar.tpl" href="javascript:void(0)" title="Chat">
<i aria-hidden="true" class="icon md-comment"></i>
</a>
</li>
-->
</ul>
<!-- End Navbar Toolbar Right -->
<div class="navbar-brand navbar-brand-center">
<a href="#" style="color:white;">
<img class="navbar-brand-logo navbar-brand-logo-normal" src="{{ url_for('static', filename='center/assets/images/logo.png') }}" title="Remark"/>
<img class="navbar-brand-logo navbar-brand-logo-special" src="{{ url_for('static', filename='center/assets/images/logo-colored.png') }}" title="Remark"/>
              Idea Management System
            </a>
</div>
</div>
<!-- End Navbar Collapse -->
<!-- Site Navbar Seach -->
<div class="collapse navbar-search-overlap" id="site-navbar-search">
<form role="search">
<div class="form-group">
<div class="input-search">
<i aria-hidden="true" class="input-search-icon md-search"></i>
<input class="form-control" name="site-search" placeholder="Search..." type="text"/>
<button aria-label="Close" class="input-search-close icon md-close" data-target="#site-navbar-search" data-toggle="collapse" type="button"></button>
</div>
</div>
</form>
</div>
<!-- End Site Navbar Seach -->
</div>
</nav>






<div class="site-menubar">
<div class="site-menubar-header">
<div class="cover overlay">
<img alt="..." class="cover-image" src="{{ url_for('static', filename='center/assets//examples/images/dashboard-header.jpg') }}"/>
<div class="overlay-panel vertical-align overlay-background">
<div class="vertical-align-middle">
<div class="site-menubar-info">
<h5 class="site-menubar-user">{{u_name}}</h5>
<p class="site-menubar-email">{{email}}</p>
</div>
</div>
</div>
</div>
</div> <div class="site-menubar-body">
<div>
<div>
<ul class="site-menu" data-plugin="menu">
<li class="site-menu-item">
<a class="animsition-link" href="http://localhost:5001/show_login">
<i aria-hidden="true" class="site-menu-icon md-view-dashboard"></i>
<span class="site-menu-title">Logout</span>
</a>
</li>
<li class="site-menu-item">
<a class="animsition-link" href="http://localhost:5001/show_user_profile">
<i aria-hidden="true" class="site-menu-icon md-view-dashboard"></i>
<span class="site-menu-title">Profile</span>
</a>
</li>

</ul>
</div>
</div>
</div>
</div>
<!-- Page -->
<div class="page">
<div class="page-header">
<h1 class="page-title">Group Form</h1>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
<li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
<li class="breadcrumb-item active"> Group</li>
</ol>
<div class="page-header-actions">
<a class="btn btn-sm btn-primary btn-round" href="https://www.pes.edu" target="_blank">
<i aria-hidden="true" class="icon md-link"></i>
<span class="hidden-sm-down">Official Website</span>
</a>
</div>
</div>
<div class="page-content container-fluid">
<div class="row">
<div class="col-lg-12" style="padding-left:150px;padding-right: 150px;">
<!-- Panel Wizard Form -->
<div class="panel" id="exampleWizardForm">
<div class="panel-heading">
<h3 class="panel-title">Group Form</h3>
</div>
<div class="panel-body">
<!-- Steps -->
<div class="pearls row">
<div class="pearl current col-4">
<div class="pearl-icon"><i aria-hidden="true" class="icon md-account"></i></div>
<span class="pearl-title">Group Info</span>
</div>
<div class="pearl col-4">
<div class="pearl-icon"><i aria-hidden="true" class="icon md-card"></i></div>
<span class="pearl-title">Problem Statement</span>
</div>
<div class="pearl col-4">
<div class="pearl-icon"><i aria-hidden="true" class="icon md-check"></i></div>
<span class="pearl-title">Confirmation</span>
</div>
</div>
<!-- Wizard Content -->
<div class="wizard-content">
<div class="wizard-pane active" id="exampleAccount" role="tabpanel">
<form id="exampleAccountForm">
<div id="error_message" style="color:red;">{{error_message}}</div>
<div class="form-group form-material">
<label class="form-control-label" for="inputUserName">Group name (No spaces)</label>
<input class="form-control" id="inputUserName" name="username" required="required" type="text"/>
</div>
<div class="form-group form-material">
<label class="form-control-label" for="inputPassword">User Emails</label>
<input class="form-control" id="inputEmails" name="emails" onkeydown="myFunction(event)" type="email"/>
<div id="list_emails"></div>
</div>
</form>
</div>
<div class="wizard-pane" id="exampleBilling" role="tabpanel">
<form id="exampleBillingForm">
<div class="form-group form-material">
<label class="form-control-label" for="inputCardNumber">Problem Statement</label>
<textarea class="form-control" id="inputCardNumber" name="number" on="" type="text"></textarea>
</div>
</form>
<script>
				var no_emails = 0;
				var my_group_name = [];
				{% for name in names %}
				my_group_name.push("{{name}}")
				{% endfor %}
				function delete_function(a)
				{ console.log(a.id); a.parentElement.remove() ;}
				function myFunction(e) {
				   t = e.key;
					if (t == ' '){
					//console.log("h");
	
					emails = document.getElementById("list_emails");
					email = document.createElement("div");
					email.id = "email".concat(no_emails.toString());
					email.setAttribute("class","list_email_class");
					var buttonnode= document.createElement('input');
					buttonnode.setAttribute('type','button');
					buttonnode.setAttribute('name','X');
					buttonnode.setAttribute('value','X');
					buttonnode.id = "button".concat(no_emails.toString());
					buttonnode.setAttribute('onclick',"delete_function(this)");;
					email.appendChild(buttonnode);
					buttonnode.style.border = "transparent";
					user_email = document.getElementById("inputEmails");
					console.log(user_email.value);
					data = document.createElement("div");
					data.innerHTML = user_email.value;
					data.style.position = "relative" ;
					//data.style.padding-left = "2px";
					//data.style.padding-right = "2px";
					data.style.display = "inline-block";
					email.appendChild(data);
					user_email.value = "";
					emails.appendChild(email);
					no_emails = no_emails + 1;

					}
					else 
					{
						if (no_emails == 0)
						{
							var group_name = document.getElementById("inputUserName").value;
							if (my_group_name.indexOf(group_name)!=-1)
							{ document.getElementById("error_message").innerHTML = "Group Name taken in your company  please, change"; }
							else 
							{document.getElementById("error_message").innerHTML = "";}
						}	
					
					}
				
				}
				
									
				
			</script>
</div>
<div class="wizard-pane" id="exampleGetting" role="tabpanel">
<div class="text-center my-20">
<i aria-hidden="true" class="icon md-check font-size-40"></i>
<h4>We got your Problem Statement.</h4>
<button onclick="send_info()" style="position:relative;top:150px;background-color:blue; color:white; height:40px; width:80px; border:blue;border-radius:5px;" type="button"> Submit</button>
</div>
</div>
</div>
<!-- End Wizard Content -->
</div>
</div>
<!-- End Panel Wizard One Form -->
</div>
</div>
<!-- End Panel Wizard Form Container -->
</div>
</div>
<!-- End Example Wizard Accordion -->
<form action="http://localhost:5001/process_group_form" id="hidden" method="post" style="display:none;">
<input id="group_name" name="group_name" type="text"/>
<input id="emailIDs" name="emailIDs" type="text"/>
<input id="problem_statement" name="problem_statement" type="text"/>
</form>
<script>
		function send_info()
		{
			document.getElementById("group_name").value = document.getElementById("inputUserName").value;
			document.getElementById("problem_statement").value =  document.getElementById("inputCardNumber").value;
			var email_list = document.getElementsByClassName("list_email_class");
			var arrayLength = email_list.length;
			var total_list = ""
			for (var i = 0; i < arrayLength; i++) {
			    var email_name = email_list[i].getElementsByTagName("div")[0].innerHTML ; 
				total_list = total_list + email_name + " ";
			} 
			document.getElementById("emailIDs").value = total_list;
			alert(document.getElementById("emailIDs").value );
			document.getElementById("hidden").submit();

					
		}	
	</script>
<!-- End Page -->
<!-- Footer -->
<footer class="site-footer">
<div class="site-footer-legal">© 2018 <a href="http://www.pes.edu">PES UNIVERSITY</a></div>
<div class="site-footer-right">
        Created by  <a href="#">TEAM 4 </a>
</div>
</footer>
<!-- Core  -->
<script src="{{ url_for('static', filename='global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/popper-js/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/bootstrap/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/animsition/animsition.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/waves/waves.js') }}"></script>
<!-- Plugins -->
<script src="{{ url_for('static', filename='global/vendor/switchery/switchery.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/intro-js/intro.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/screenfull/screenfull.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/formvalidation/formValidation.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/formvalidation/framework/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/matchheight/jquery.matchHeight-min.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/jquery-wizard/jquery-wizard.js') }}"></script>
<!-- Scripts -->
<script src="{{ url_for('static', filename='global/js/Component.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Base.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Config.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/Menubar.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/Sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/PageAside.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Plugin/menu.js') }}"></script>
<!-- Config -->
<script src="{{ url_for('static', filename='global/js/config/colors.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/config/tour.js') }}"></script>
<script>Config.set('assets', '../../assets');</script>
<!-- Page -->
<script src="{{ url_for('static', filename='center/assets/js/Site.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/asscrollable.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/slidepanel.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/switchery.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/jquery-wizard.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/matchheight.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/examples/js/forms/wizard.js') }}"></script>
</body>
</html>
