<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" name="viewport"/>
<meta content="bootstrap material admin template" name="description"/>
<meta content="" name="author"/>
<title>Problem Statement</title>
<link href="{{ url_for('static', filename='center/assets/images/apple-touch-icon.png') }}" rel="apple-touch-icon"/>
<link href="{{ url_for('static', filename='center/assets/images/favicon.ico') }}" rel="shortcut icon"/>
<!-- Stylesheets -->
<link href="{{ url_for('static', filename='global/css/bootstrap.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/css/bootstrap-extend.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='center/assets/css/site.css') }}" rel="stylesheet"/>
<!-- Plugins -->
<link href="{{ url_for('static', filename='global/vendor/animsition/animsition.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/asscrollable/asScrollable.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/switchery/switchery.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/intro-js/introjs.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/slidepanel/slidePanel.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/flag-icon-css/flag-icon.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/waves/waves.css') }}" rel="stylesheet"/>
<!-- Fonts -->
<link href="{{ url_for('static', filename='global/fonts/material-design/material-design.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/fonts/brand-icons/brand-icons.min.css') }}" rel="stylesheet"/>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic" rel="stylesheet"/>
<!--[if lt IE 9]>
    <script src="static/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
<!--[if lt IE 10]>
    <script src="static/global/vendor/media-match/media.match.min.js"></script>
    <script src="static/global/vendor/respond/respond.min.js"></script>
    <![endif]-->
<!-- Scripts -->
<script src="{{ url_for('static', filename='global/vendor/breakpoints/breakpoints.js') }}"></script>
<script>
      Breakpoints();
    </script>
</head>
<body class="animsition page-aside-right">
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">
<div class="navbar-header">
<button class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="hamburger-bar"></span>
</button>
<button class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse" type="button">
<i aria-hidden="true" class="icon md-more"></i>
</button>
<div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
<img class="navbar-brand-logo" src="{{ url_for('static', filename='center/assets/images/logo.png') }}" title="Remark"/>
<span class="navbar-brand-text hidden-xs-down"> Remark</span>
</div>
<button class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse" type="button">
<span class="sr-only">Toggle Search</span>
<i aria-hidden="true" class="icon md-search"></i>
</button>
</div>

<div class="navbar-container container-fluid">
<!-- Navbar Collapse -->
<div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
<!-- Navbar Toolbar -->
<ul class="nav navbar-toolbar">
<li class="nav-item hidden-float" id="toggleMenubar">
<a class="nav-link" data-toggle="menubar" href="#" role="button">
<i class="icon hamburger hamburger-arrow-left">
<span class="sr-only">Toggle menubar</span>
<span class="hamburger-bar"></span>
</i>
<span class="navbar-brand-text hidden-xs-down"><strong> My Account</strong></span>
</a>
</li>
<li class="nav-item hidden-sm-down" id="toggleFullscreen">
<a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
<span class="sr-only">Toggle fullscreen</span>
</a>
</li>
<!--<li class="nav-item hidden-float">
<a class="nav-link icon md-search" data-target="#site-navbar-search" data-toggle="collapse" href="#" role="button">
<span class="sr-only">Toggle Search</span>
</a>
</li>
-->
</ul>
<!-- End Navbar Toolbar -->
<!-- Navbar Toolbar Right -->
<ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
<li class="nav-item dropdown">
<!-- <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                aria-expanded="false" role="button">-->
<a class="nav-link" href="http://localhost:5001/show_group_create/none"><i aria-hidden="true" class="icon md-plus">  <span></span>Create Group</i></a>
<!--<span class="navbar-brand-text hidden-xs-down">
                  <strong>Create Group</strong></span>-->
</li>
<!--
<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link navbar-avatar" data-animation="scale-up" data-toggle="dropdown" href="#" role="button">
<span class="avatar avatar-online">
<img alt="..." src="{{ url_for('static', filename='global/portraits/5.jpg') }}"/>
<i></i>
</span>
</a>
<div class="dropdown-menu" role="menu">
<a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i aria-hidden="true" class="icon md-account"></i> Profile</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="Login.html" role="menuitem"><i aria-hidden="true" class="icon md-power"></i> Logout</a>
</div>

</li>
-->
<!--<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link" data-animation="scale-up" data-toggle="dropdown" href="javascript:void(0)" role="button" title="Notifications">
<i aria-hidden="true" class="icon md-notifications"></i>
<span class="badge badge-pill badge-danger up">5</span>
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
<div class="dropdown-menu-header">
<h5>NOTIFICATIONS</h5>
<span class="badge badge-round badge-danger">New 5</span>
</div>
<div class="list-group">
<div data-role="container">
<div data-role="content">
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-receipt bg-red-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">A new order has been placed</h6>
<time class="media-meta" datetime="2017-06-12T20:50:48+08:00">5 hours ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-account bg-green-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Completed the task</h6>
<time class="media-meta" datetime="2017-06-11T18:29:20+08:00">2 days ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-settings bg-red-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Settings updated</h6>
<time class="media-meta" datetime="2017-06-11T14:05:00+08:00">2 days ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-calendar bg-blue-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Event started</h6>
<time class="media-meta" datetime="2017-06-10T13:50:18+08:00">3 days ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-comment bg-orange-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Message received</h6>
<time class="media-meta" datetime="2017-06-10T12:34:48+08:00">3 days ago</time>
</div>
</div>
</a>
</div>
</div>
</div>
<div class="dropdown-menu-footer">
<a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
<i aria-hidden="true" class="icon md-settings"></i>
</a>
<a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    All notifications
                  </a>
</div>
</div>
</li> -->

<li class="nav-item dropdown">
<a id="open-chat" aria-expanded="false" class="nav-link" data-animation="scale-up" data-toggle="dropdown" href="javascript:void(0)" role="button" title="Messages">

<i aria-hidden="true" class="icon md-comment"></i>
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
<!--<div class="dropdown-menu-header" role="presentation">
<h5>MESSAGES</h5>
<span class="badge badge-round badge-info">New 3</span>
</div>
<div class="list-group" role="presentation">
<div data-role="container">
<div data-role="content">
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-online">
<img alt="..." src="{{ url_for('static', filename='global/portraits/2.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">Mary Adams</h6>
<div class="media-meta">
<time datetime="2017-06-17T20:22:05+08:00">30 minutes ago</time>
</div>
<div class="media-detail">Anyways, i would like just do it</div>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-off">
<img alt="..." src="{{ url_for('static', filename='global/portraits/3.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">Caleb Richards</h6>
<div class="media-meta">
<time datetime="2017-06-17T12:30:30+08:00">12 hours ago</time>
</div>
<div class="media-detail">I checheck the document. But there seems</div>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-busy">
<img alt="..." src="{{ url_for('static', filename='global/portraits/4.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">June Lane</h6>
<div class="media-meta">
<time datetime="2017-06-16T18:38:40+08:00">2 days ago</time>
</div>
<div class="media-detail">Lorem ipsum Id consectetur et minim</div>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-away">
<img alt="..." src="{{ url_for('static', filename='global/portraits/5.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">Edward Fletcher</h6>
<div class="media-meta">
<time datetime="2017-06-15T20:34:48+08:00">3 days ago</time>
</div>
<div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
</div>
</div>
</a>
</div>
</div>
</div>
<div class="dropdown-menu-footer" role="presentation">
<a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
<i aria-hidden="true" class="icon md-settings"></i>
</a>
<a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    See all messages
                  </a>
</div>
</div>
-->


<div class="chat-container" style="align-items:centre;width:900px">
<!--	
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a id = "open-chat-2" type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=BOT" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">IdeaBot</strong> <small class="pull-right text-muted">
                                </div>
                                <p>
                                   How may I help you?
                                </p>
                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>-->
	<iframe src="http://localhost:5001/chat" height="200px" width="350px"></iframe>
</div>




</li>
<!--
<li class="nav-item" id="toggleChat">
<a class="nav-link" data-toggle="site-sidebar" data-url="../site-sidebar.tpl" href="javascript:void(0)" title="Chat">
<i aria-hidden="true" class="icon md-comment"></i>
</a>
</li>






</ul>

<!-- End Navbar Toolbar Right -->
<div class="navbar-brand navbar-brand-center">
<a href="#" style="color:white;">
<img class="navbar-brand-logo navbar-brand-logo-normal" src="{{ url_for('static', filename='center/assets/images/logo.png') }}" title="Remark"/>
<img class="navbar-brand-logo navbar-brand-logo-special" src="{{ url_for('static', filename='center/assets/images/logo-colored.png') }}" title="Remark"/>
              Idea Management System
            </a>
</div>
</div>
<!-- End Navbar Collapse -->
<!-- Site Navbar Seach -->
<div class="collapse navbar-search-overlap" id="site-navbar-search">
<form role="search">
<div class="form-group">
<div class="input-search">
<i aria-hidden="true" class="input-search-icon md-search"></i>
<input class="form-control" name="site-search" placeholder="Search..." type="text"/>
<button aria-label="Close" class="input-search-close icon md-close" data-target="#site-navbar-search" data-toggle="collapse" type="button"></button>
</div>
</div>
</form>
</div>
<!-- End Site Navbar Seach -->
</div>
</nav>


<div class="site-menubar">
<div class="site-menubar-header">
<div class="cover overlay">
<img alt="..." class="cover-image" src="{{ url_for('static', filename='center/assets//examples/images/dashboard-header.jpg') }}"/>
<div class="overlay-panel vertical-align overlay-background">
<div class="vertical-align-middle">
<div class="site-menubar-info">
<h5 class="site-menubar-user">{{u_name}}</h5>
<p class="site-menubar-email">{{email}}</p>
</div>
</div>
</div>
</div>
</div> <div class="site-menubar-body">
<div>
<div>
<ul class="site-menu" data-plugin="menu">
<li class="site-menu-item">
<a class="animsition-link" href="http://localhost:5001/show_login">
<i aria-hidden="true" class="site-menu-icon md-view-dashboard"></i>
<span class="site-menu-title">Logout</span>
</a>
</li>
<li class="site-menu-item">
<a class="animsition-link" href="http://localhost:5001/show_user_profile">
<i aria-hidden="true" class="site-menu-icon md-view-dashboard"></i>
<span class="site-menu-title">Profile</span>
</a>
</li>
<li class="site-menu-item has-sub active open">
</li>
</ul></div>
</div>
</div>
</div>
<div class="page">
<div class="page-aside">
<div class="page-aside-switch">
<i aria-hidden="true" class="icon md-chevron-left"></i>
<i aria-hidden="true" class="icon md-chevron-right"></i>
</div>
<div class="page-aside-inner page-aside-scroll">
<div data-role="container">
<div data-role="content">
<section class="page-aside-section">
<h4 class="page-aside-title">Members <div class="float-right"></div></h4>
<div class="list-group">
<ul class="list-group">
			{% for member in members %}
                    <li class="list-group-item">
<div class="media">
<div class="pr-0 pr-sm-20 align-self-center">
<div class="avatar avatar-online">
<i class="avatar avatar-busy"></i>
</div>
</div>
<div class="media-body align-self-center">
<h5 class="mt-0 mb-5">
                            {{member}}
                            
                          </h5>
</div>
<div class="pl-0 pl-sm-20 mt-15 mt-sm-0 align-self-center">
</div>
</div>
</li>
                    {% endfor %}
                   
                  </ul>
</div>
</section>
</div>
</div>
</div>
<!---page-aside-inner-->
</div>
<div class="page-main">
<div class="page-header">
<h1 class="page-title">{{group_name}}<div class="float-right" style="margin-right: 15px;"><div aria-label="Basic example" class="btn-group" role="group">
{% if is_manager != 1 %}
<button class="btn btn-success waves-effect waves-light waves-round" onclick="ask_idea()" type="button">Add</button>
{% endif %}
			                    </div></div></h1>
</div>
<div class="page-content">


<div class="panel">
<div class="panel-heading">
<h3 class="panel-title">Problem Statement<div class="float-right" style="margin-right: 15px;"><div aria-label="Basic example" class="btn-group" role="group">
<!-- <button type="button" class="btn btn-success waves-effect waves-light waves-round">Add</button>
                      <button type="button" class="btn btn-danger waves-effect waves-light waves-round">Delete</button> -->
			{% if is_manager == 1 %}
				<button class="btn btn-info waves-effect waves-light waves-round" onclick="location.href='http://localhost:5001/idea_dashboard/{{problem_id}}';" type="button">View Stats</button>
			{% endif %}
                      
                    </div></div></h3>
</div>
<div class="panel-body">
<div aria-multiselectable="true" class="panel-group" id="exampleAccordionDefault" role="tablist">
			{% for (idea,properties) in ideas_list.iteritems() %}
                    <div class="panel">
<div class="panel-heading" id="exampleHeadingDefault{{idea}}" role="tab">
<a aria-controls="exampleCollapseDefault{{idea}}" aria-expanded="true" class="panel-title" data-parent="#exampleAccordionDefault" data-toggle="collapse" href="#exampleCollapseDefault{{idea}}">
                      Idea #{{idea}}<div class="float-right" style="margin-right: 15px;"><div aria-label="Basic example" class="btn-group btn-group-sm" role="group">
<div aria-label="Basic example" class="btn-group btn-group-sm" role="group">
			{% if properties[4] == "1" %}
			<button class="btn btn-icon btn-primary waves-effect waves-light waves-round" id="like{{idea}}" onclick="like(this)" style="color:yellow;" type="button">Upvote</button>
<button class="btn btn-icon btn-primary waves-effect waves-light waves-round" id="dislike{{idea}}" onclick="dislike(this)" type="button">Downvote</button>
			{% endif %}
			{% if properties[4] == "2" %}
				<button class="btn btn-icon btn-primary waves-effect waves-light waves-round" id="like{{idea}}" onclick="like(this)" type="button">Upvote</button>
<button class="btn btn-icon btn-primary waves-effect waves-light waves-round" id="dislike{{idea}}" onclick="dislike(this)" style="color:yellow;" type="button">Downvote</button>

			{% endif %}
			{% if properties[4] == "3" %}
				<button class="btn btn-icon btn-primary waves-effect waves-light waves-round" id="like{{idea}}" onclick="like(this)" type="button">Upvote</button>
<button class="btn btn-icon btn-primary waves-effect waves-light waves-round" id="dislike{{idea}}" onclick="dislike(this)" type="button">Downvote</button>

			{% endif %}
                      <button class="btn btn-icon btn-primary waves-effect waves-light waves-round" id="up{{idea}}" type="button"><i aria-hidden="true" class="icon md-long-arrow-up"></i> {{properties[2]}}</button>
<button class="btn btn-icon btn-primary waves-effect waves-light waves-round" id="down{{idea}}" type="button"><i aria-hidden="true" class="icon md-long-arrow-down"></i> {{properties[3]}}</button>
</div>
</div></div>
</a>
</div>
<div aria-labelledby="exampleHeadingDefault{{idea}}" class="panel-collapse collapse show" id="exampleCollapseDefault{{idea}}" role="tabpanel">
<div class="panel-body">
                          {{properties[0]}}<br/><br/>
<button class="btn btn-success btn-sm" onclick="location.href='http://localhost:5001/idea_desc/{{idea}}';" type="button">View Idea</button><div class="float-right" style="margin-right: 15px;">Idea given by <a href="#"><b>{{properties[1]}}</b></a></div>
</div>
</div>
</div>
                    {% endfor %}
                  </div>
</div>
</div>
</div><footer class="site-footer">



<div class="site-footer-legal">PES UNIVERSITY© 2018 <a></a></div>
<div class="site-footer-right">
        Crafted  by Team 4-E
      </div>
<form action="http://localhost:5001/process_problem/{{group_id}}/{{problem_id}}" id="hidden" method="post" style="display:none;">
<input id="add_idea" name="add_idea" type="text"/>
<input id="vote_vector" name="vote_vector" type="text"/>
</form>
</footer>
</div>
</div>
<!-- Footer -->
<!-- Core  -->
<script src="{{ url_for('static', filename='global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/popper-js/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/bootstrap/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/animsition/animsition.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/waves/waves.js') }}"></script>
<!-- Plugins -->
<script src="{{ url_for('static', filename='global/vendor/switchery/switchery.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/intro-js/intro.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/screenfull/screenfull.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
<!-- Scripts -->
<script src="{{ url_for('static', filename='global/js/Component.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Base.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Config.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/Menubar.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/Sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/PageAside.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Plugin/menu.js') }}"></script>
<!-- Config -->
<script src="{{ url_for('static', filename='global/js/config/colors.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/config/tour.js') }}"></script>
<script>Config.set('assets', 'center/assets');</script>
<!-- Page -->
<script src="{{ url_for('static', filename='center/assets/js/Site.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/asscrollable.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/slidepanel.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/switchery.js') }}"></script>
<!-- Chat
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href= "{{ url_for('static', filename='chatstyle.css') }}"rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.1.min.js" ></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>

	//$('#open-chat').bind('click',function(){
		
		$('#open-chat-2').click();
	//})

	$('#open-chat').bind('click',function(){
		
		loadCSS("http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");
	})

	loadCSS = function(href) {
		 var cssLink = $("<link rel='stylesheet' type='text/css' href='"+href+"'>");
		 $("head").append(cssLink);
 	};
    $('#btn-chat').bind('click', function() {
        l = document.createElement("LI")
        input = $('#btn-input').val();
        r1 = /ideas similar to/
        r2 = /works relevant to/
        s1 = "ideas similar to neural"
        console.log(s1.replace(r1,''))
        if(input){
            if(input.search(r2) == 0){
                $('.chat').append('<li class="right clearfix"><span class="chat-img pull-right"><img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="pull-right primary-font">Me</strong></div><p>' +input+'</p></div></li>');
                $('#btn-input').val('');
                
                res = input.replace(r2,'')
                output = $('<div>')

                $.ajax({
                url: '/fetch_relevant_info',
                data: {idea : res},
                type: 'GET',
                success: function(response) {
                    jresponse = JSON.parse(response)
                    console.log(jresponse);
                    for (r in jresponse){
                        output.append($('<div>',{text:parseInt(r) + 1 + ". " + "Title : " + jresponse[r]['title']}))
                        output.append($('<a>',{href:jresponse[r]['link'], text:"Link : " + jresponse[r]['link']}))
                    }
                    $('.chat').append('<li class="left clearfix"><span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text=BOT" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">IdeaBot</strong><small class="text-muted"></div><p>' +output.get(0).outerHTML+'</p></div></li>');
                        
                    },
                })
                
                
               
            }
		
            
        }

		else{
			console.log("input empty");
		}
    })
</script>
-->

<script>
		var vote_list = {};
		{% for (idea,properties) in ideas_list.iteritems() %}
		vote_list[parseInt("{{idea}}")]=(parseInt("{{properties[4]}}"));
		console.log(vote_list) ;
		{%endfor%}
		var new_vote_list = {};
		{% for (idea,properties) in ideas_list.iteritems() %}
		new_vote_list[parseInt("{{idea}}")]=(parseInt("{{properties[4]}}"));
		console.log(vote_list) ;
		{%endfor%}

		function ask_idea()
		{
		var statement = prompt("Enter Idea");
		document.getElementById("add_idea").value = statement;
		document.getElementById("hidden").submit();
		
		}
		
		function like(me)
		{
			var id = parseInt((me.id).slice(4));
			if(vote_list[id] == 3) 
			{
				me.style.color = "yellow" ; 
				var no_likes = document.getElementById("up"+id.toString()).innerHTML.toString();
				var no_comp = no_likes.split(" ");
				var tot_likes = parseInt(no_comp[no_comp.length -  1] ) ;
				tot_likes = tot_likes + 1 ;
				//alert(tot_likes.toString());
				document.getElementById("up"+id.toString()).innerHTML = "<i class=\"icon md-long-arrow-up\" aria-hidden=\"true\"></i> " + tot_likes.toString() ;  
				new_vote_list[id] = 1 ;			 
			}
			else 
			{
				if(vote_list[id] == 2) 
					{
				me.style.color = "yellow" ; 
				var no_likes = document.getElementById("up"+id.toString()).innerHTML.toString();
				var no_comp = no_likes.split(" ");
				var tot_likes = parseInt(no_comp[no_comp.length -  1] ) ;
				tot_likes = tot_likes + 1 ;
				//alert(tot_likes.toString());
				document.getElementById("up"+id.toString()).innerHTML = "<i class=\"icon md-long-arrow-up\" aria-hidden=\"true\"></i> " + tot_likes.toString() ;  				 
				document.getElementById("dislike"+id).style.color = "white" ;
				var no_dislikes = document.getElementById("down"+id.toString()).innerHTML.toString();
				var no_comps = no_dislikes.split(" ");
				var tot_dislikes = parseInt(no_comps[no_comps.length -  1] ) ;
				tot_dislikes = tot_dislikes - 1 ;
				//alert(tot_dislikes.toString());
				document.getElementById("down"+id.toString()).innerHTML = "<i class=\"icon md-long-arrow-down\" aria-hidden=\"true\">" + tot_dislikes.toString() ;	
				new_vote_list[id] = 1 ;
				}
				if(vote_list[id] == 1) 
					{
				me.style.color = "white" ; 
				var no_likes = document.getElementById("up"+id.toString()).innerHTML.toString();
				var no_comp = no_likes.split(" ");
				var tot_likes = parseInt(no_comp[no_comp.length -  1] ) ;
				tot_likes = tot_likes - 1 ;
				//alert(tot_likes.toString());
				document.getElementById("up"+id.toString()).innerHTML = "<i class=\"icon md-long-arrow-up\" aria-hidden=\"true\"></i> " + tot_likes.toString() ;
				new_vote_list[id] = 3 ;  				 
				}


			}
			document.getElementById("vote_vector").value = id.toString()+ "-" + vote_list[id].toString() + "-"  + new_vote_list[id].toString();	
			
			document.getElementById("hidden").submit();

		}
		function dislike(me)
		{
			var id = parseInt((me.id).slice(7));
		
			if(vote_list[id] == 3) 
			{
				me.style.color = "yellow" ; 
				var no_likes = document.getElementById("down"+id.toString()).innerHTML.toString();
				var no_comp = no_likes.split(" ");
				var tot_likes = parseInt(no_comp[no_comp.length -  1] ) ;
				tot_likes = tot_likes + 1 ;
				//alert(tot_likes.toString());
				document.getElementById("down"+id.toString()).innerHTML = "<i class=\"icon md-long-arrow-down\" aria-hidden=\"true\">" + tot_likes.toString() ;  
				new_vote_list[id] = 2 ;				 
			}
			else 
			{
				if(vote_list[id] == 2) 
					{
				alert("hello");
				me.style.color = "white" ; 
				var no_likes = document.getElementById("down"+id.toString()).innerHTML.toString();
				var no_comp = no_likes.split(" ");
				var tot_likes = parseInt(no_comp[no_comp.length -  1] ) ;
				tot_likes = tot_likes - 1 ;
				//alert(tot_likes.toString());
				document.getElementById("down"+id.toString()).innerHTML = "<i class=\"icon md-long-arrow-down\" aria-hidden=\"true\"></i> " + tot_likes.toString() ;  
					new_vote_list[id] = 3 ;				 
					
				}
				if(vote_list[id] == 1) 
				{
				me.style.color = "yellow" ; 
				var no_likes = document.getElementById("up"+id.toString()).innerHTML.toString();
				var no_comp = no_likes.split(" ");
				var tot_likes = parseInt(no_comp[no_comp.length -  1] ) ;
				tot_likes = tot_likes - 1 ;
				//alert(tot_likes.toString());
				document.getElementById("up"+id.toString()).innerHTML = "<i class=\"icon md-long-arrow-up\" aria-hidden=\"true\"></i> " + tot_likes.toString();
				document.getElementById("like"+id).style.color = "white" ;
				var no_dislikes = document.getElementById("down"+id.toString()).innerHTML.toString();
				var no_comps = no_dislikes.split(" ");
				var tot_dislikes = parseInt(no_comps[no_comps.length -  1] ) ;
				tot_dislikes = tot_dislikes + 1 ;
				//alert(tot_dislikes.toString());
				document.getElementById("down"+id.toString()).innerHTML = "<i class=\"icon md-long-arrow-down\" aria-hidden=\"true\"></i> " + tot_dislikes.toString() ;  
				new_vote_list[id] = 2 ;				 
				}
					

			}
			document.getElementById("vote_vector").value = id.toString()+  "-" + vote_list[id].toString() + "-"  + new_vote_list[id].toString();	
			
			document.getElementById("hidden").submit();

		}
	</script>
<script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });




        // $('.page-aside-section').asScrollable(); 
      })(document, window, jQuery);
    </script>
</body>
</html>
