<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" name="viewport"/>
<meta content="bootstrap material admin template" name="description"/>
<meta content="" name="author"/>
<title>Register |  Admin Template</title>
<link href="{{ url_for('static', filename='center/assets/images/apple-touch-icon.png') }}" rel="apple-touch-icon"/>
<link href="{{ url_for('static', filename='center/assets/images/favicon.ico') }}" rel="shortcut icon"/>
<!-- Stylesheets -->
<link href="{{ url_for('static', filename='global/css/bootstrap.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/css/bootstrap-extend.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='center/assets/css/site.min.css') }}" rel="stylesheet"/>
<!-- Plugins -->
<link href="{{ url_for('static', filename='global/vendor/animsition/animsition.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/asscrollable/asScrollable.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/switchery/switchery.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/intro-js/introjs.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/slidepanel/slidePanel.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/flag-icon-css/flag-icon.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/waves/waves.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='center/assets/examples/css/pages/register.css') }}" rel="stylesheet"/>
<!-- Fonts -->
<link href="{{ url_for('static', filename='global/fonts/material-design/material-design.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/fonts/brand-icons/brand-icons.min.css') }}" rel="stylesheet"/>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic" rel="stylesheet"/>
<!--[if lt IE 9]>
    <script src="../../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
<!--[if lt IE 10]>
    <script src="../../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->
<!-- Scripts -->
<script src="{{ url_for('static', filename='global/vendor/breakpoints/breakpoints.js') }}"></script>
<script>
      Breakpoints();
    </script>
<style>
		.form_c
		{
			background-color:white;
			opactiy:0.5;
			height : 500px;
			width: 800px;
			border-radius:20px;
			color:black;
		}
	</style>
</head>
<body class="animsition page-register layout-full page-dark">
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<!-- Page -->
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
<div class="page-content vertical-align-middle">
<div class="brand">
<!--<img class="brand-img" src="static/center/assets//images/logo.png" alt="...">-->
<h6 class="brand-text">IMS</h6>
</div>
<p>Sign up to find interesting thing</p>
<form  id = "register" action="http://localhost:5001/signup_validate" autocomplete="off" class="form_c" method="post" role="form" style="height:600px;width:500px;padding:10px;opacity:0.8;">
<div style="color:red;">{{message}}</div>
<div class="form-group form-material floating" data-plugin="formMaterial">
<input class="form-control empty" id="inputName" name="user_name" required="required" type="text"/>
<label class="floating-label" for="inputName" style="color:black;"> Username</label>
</div>
<div class="form-group form-material floating" data-plugin="formMaterial">
<input class="form-control empty" id="inputEmail" name="email" required="required" type="email"/>
<label class="floating-label" for="inputEmail" style="color:black;">Email</label>
</div>
<div class="form-group form-material floating" data-plugin="formMaterial">
<input class="form-control empty" id="inputPassword" required="required" name="password" type="password"/>
<label class="floating-label" for="inputPassword" style="color:black;">Password</label>
<div style="color:red;" id = "input_message"></div>
</div>
<div class="form-group form-material floating" data-plugin="formMaterial">
<input class="form-control empty" id="inputcPassword" required="required" oninput="check(this)" name="conf_password" type="password"/>
<label class="floating-label" for="inputcPassword"   style="color:black;">Confirm Password</label>
</div>
<div class="form-group form-material floating" data-plugin="formMaterial">
<input class="form-control empty" id="inputNumber" required="required" name="number" type="text"/>
<label class="floating-label" for="inputNumber" style="color:black;">Phone Number</label>
</div>
<div class="form-group form-material floating" data-plugin="formMaterial">
<input class="form-control empty" id="inputCompany" required="required" name="company" type="text"/>
<label class="floating-label" for="inputCompany" style="color:black;">Company</label>
</div>
<button class="btn btn-primary btn-block" type="submit">Register</button>
</form>
<p>Have account already? Please go to <a href="http://localhost:5001/show_login">Sign In</a></p>
<footer class="page-copyright page-copyright-inverse">
<p>WEBSITE BY TEAM4</p>
<p>© 2018. All RIGHT RESERVED.</p>
<div class="social">
<a class="btn btn-icon btn-pure" href="javascript:void(0)">
<i aria-hidden="true" class="icon bd-twitter"></i>
</a>
<a class="btn btn-icon btn-pure" href="javascript:void(0)">
<i aria-hidden="true" class="icon bd-facebook"></i>
</a>
<a class="btn btn-icon btn-pure" href="javascript:void(0)">
<i aria-hidden="true" class="icon bd-google-plus"></i>
</a>
</div>
</footer>
</div>
</div>
<!-- End Page -->
<!-- Core  -->
<script src="{{ url_for('static', filename='global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/popper-js/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/bootstrap/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/animsition/animsition.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/waves/waves.js') }}"></script>
<!-- Plugins -->
<script src="{{ url_for('static', filename='global/vendor/switchery/switchery.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/intro-js/intro.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/screenfull/screenfull.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>
<!-- Scripts -->
<script src="{{ url_for('static', filename='global/js/Component.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Base.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Config.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/Menubar.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/Sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/PageAside.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Plugin/menu.js') }}"></script>
<!-- Config -->
<script src="{{ url_for('static', filename='global/js/config/colors.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/config/tour.js') }}"></script>
<script>Config.set('assets', 'center/assets');</script>
<!-- Page -->
<script src="{{ url_for('static', filename='center/assets/js/Site.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/asscrollable.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/slidepanel.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/switchery.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/jquery-placeholder.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/animate-list.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/material.js') }}"></script>
<script>
function check(me) 
{


	if (me.value != document.getElementById('inputPassword').value)
	{
		document.getElementById('input_message').innerHTML = "Passwords do not match";
	}
	else 
	{
		document.getElementById('input_message').style.color = "green" ;
		document.getElementById('input_message').innerHTML = "Passwords match";
	}

}
</script>
<script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);
    </script>
</body>
</html>
