<!DOCTYPE html>
<html>
<head>
<style>

.background_style
{
	width : 600px;
	height: 300px;
	padding:50px;
	background-image : url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa_fClVMF81UU8ERRuTiE2CIMyU-8jrH9-xpIlFv2ws9kbtqbmeQ');
}
.content
{
	width:600px;
	height:250px;
	padding : 10px;
	border-radius:25px;
	background-color:white;
	opacity: 0.8;	
}

</style>
</head>

<body>
<div class="background_style">

<div class="content">
<h1 class = "person"> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi!</h1>
<h1 class="add_group"> &nbsp;     You have been added to a new group!</h1>
<h1 class="name_group">  &nbsp; &nbsp;       Group Name:{{group_name}}</h1>
</div>
</div>

</body>
</html>
