<!DOCTYPE html>
<html>
<head>
<style>

.background_style
{
	width : 600px;
	height: 200px;
	padding : 50px;
	background-image : url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ3qon5PIt8-N3ssng2pat1zdyzm4PFYm9prsLMZINAn76qCiD');
}
.content
{
	width:600px;
	height:200px;
	border-radius:25px;
	padding:10px;
	background-color:white;
	opacity: 0.8;	
}

</style>
</head>

<body>
<div class="background_style">
<div class="content">
<h1 class = "person">Hi!</h1>
<h1 class="add_group">A new problem statement has been posted!</h1>
<h1 class="name_group">Group Name:{{group_name}}</h1>
</div>

</div>


</body>
</html>
